In [9]:
import numpy as np 
import pandas as pd
DATA=pd.read_csv('store_data.csv',header=None,na_filter=False)
DATA.head()
data=np.array(DATA)

In [10]:
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

te=TransactionEncoder()
te_ary = te.fit(data).transform(data)

In [11]:
te_ary

array([[False, False,  True, ...,  True, False, False],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       ...,
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False, False, False],
       [ True, False, False, ..., False,  True, False]])

In [14]:
df = pd.DataFrame(te_ary)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,111,112,113,114,115,116,117,118,119,120
0,False,False,True,True,False,True,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,False,False,False,True,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

In [18]:
apriori(df,min_support=0.1)

     support  itemsets
0   0.999867       (0)
1   0.163845      (26)
2   0.179709      (38)
3   0.170911      (44)
4   0.132116      (55)
5   0.129583      (72)
6   0.238368      (73)
7   0.174110     (101)
8   0.163845   (0, 26)
9   0.179709   (0, 38)
10  0.170911   (0, 44)
11  0.131982   (0, 55)
12  0.129583   (0, 72)
13  0.238235   (0, 73)
14  0.174110  (0, 101)

In [22]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))
frequent_itemsets

     support  itemsets  length
0   0.999867       (0)       1
1   0.163845      (26)       1
2   0.179709      (38)       1
3   0.170911      (44)       1
4   0.132116      (55)       1
5   0.129583      (72)       1
6   0.238368      (73)       1
7   0.174110     (101)       1
8   0.163845   (0, 26)       2
9   0.179709   (0, 38)       2
10  0.170911   (0, 44)       2
11  0.131982   (0, 55)       2
12  0.129583   (0, 72)       2
13  0.238235   (0, 73)       2
14  0.174110  (0, 101)       2